* {
  margin: 0;
  padding: 0;
}
header {
    height: 45px;
    width: 100%;
    padding: 0px 0px;
    background-color: #65cb25;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
}

.menu {
    font-size: 15px;
    vertical-align: middle;  
}

header nav {
  margin: 0 0 0 auto;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
}

header a {
  color: #ed5365;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20px;
  background-color: #000;
  font-size: 15px;
  color: #fff;
}

.content {
  position: relative;
  background: rgb(215, 228, 75);
  height: 1000px;
}
.content1{
  display: flex;
  justify-content: center;
}

.content2{
  display: flex;
  justify-content: center;
}