{% extends "layout.html" %}
{% block content %}
<html lang="ja">
<head>
    <title>Index</title>
    <meta charset="utf-8"/>
</head>


<body>
    <div class="content">
        <br>
        <br>
        <h1>穴埋め問題(難)生成ページ</h1>
        <br>
        <p>テキストを入力してください</p>
        <form action="/anaoni" method="POST">
            <div class="content1">
                <textarea name="inp_txt" maxlength="330" cols="60" rows="15"></textarea>
            </div> 
                <div class="content2">  
                    <h5>※字数制限（最大330文字）</h5>
                    <input type="submit" value="実行">
                </div>
        </form>
    </div>
   
</body>
</html>
{% endblock %}